<div>
  
  <div class="form-group">
    <label for="system.automations.{{key}}.armor">{{localize
      "INVINCIBLE.Automation.FIELDS.rollArmor.armor.label"}}</label>
    <input type="number" name="system.automations.{{key}}.armor" value="{{automation.armor}}">
  </div>
</div>