{{log this}}
<div>
  <label>{{localize "INVINCIBLE.Item.Power.FIELDS.powerSource.hint"}}</label>
  <select name="powerSource">
    {{selectOptions powerSourceList selected=selected localize=true}}
  </select>
</div>