<section class='tab portrait {{tab.cssClass}}' data-group='primary' data-tab='portrait'>
  <label class="title">{{{localize "INVINCIBLE.Actor.Tabs.Portrait"}}}</label>
  <img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' />
</section>